<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.epam.web.controller.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.epam.web.controller.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SessionLocaleFilter</filter-name>
        <filter-class>com.epam.web.controller.SessionLocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionLocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
